@font-face {
    font-family: 'AleksandraC';
    src: local('AleksandraC'), local('AleksandraC Regular'),
    url('../fonts/aleksandrac_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), local('Lobster Regular'),
    url('../fonts/lobster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AC Line';
    src: local('AC Line Regular'), local('ACLine'),
    url('../fonts/ac_line.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}