

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section{
    padding: 50px 0;
}

#top-section{
    padding: 0;
    border: 0
}

#scroller{
    position: fixed;    
    /** позиция кнопки scroll to top **/
    left: 30px;   
    bottom: 30px;   
    /** картинка кнопки наверх**/
    width: 32px;
    height: 32px;
    cursor: pointer;
    /** скрываем кнопку в начале **/
    display:none;
}

.block-content{
  
}
















